.card-wrapper {
    margin: 5% 0;
    width:20%;
    display: inline-block;
    white-space: normal;

  }
  
/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 10vw; /* note i used vw not px for better responsive */
  height: 10vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}


.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* #github{
  position: absolute;
  height: 56px;
  width: 56px;
  right: 80px;
} */

.nav-right{
  float:right;
  display: grid;
  text-align:center;
}

.row{
  padding-top: 30px;
  white-space:nowrap;
  overflow: auto;
  display:block;
}


@media (min-width:567px){
  .col-sm-4{
    max-width:33.33%
  }
}
@media only screen and (max-width:768px){
  .card-wrapper{
    width:50%;
  }
  .custom-circle-image{
    width:30vw;
    height:30vw;
  }
  img.w-100.h-100.github-logo {
    width: 31% !important;
}
}
@media only screen and (max-width:576px){
  .card-wrapper{
    width:100%;
  }
  .custom-circle-image{
    width:30vw;
    height:30vw;
  }
}
img.w-100.h-100.github-logo {
  width: 50% !important;
}
a.navbar-brand.nav-left {
  font-size: 40px;
  font-weight: 500;
  /* color: black; */
}
span#help {
  font-family: cursive;
}
.result{
	display:flex;
}